/* .caraousel-container{
    width: 100%;
    height: 100vh;

}

.bg-img{
    width: 100%;
    object-fit: contain;
} */


.caraousel-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg-img {
    width: 100%;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    height: 90vh; /* Ensures the height adapts to the container */
}

@media (max-width: 768px) {
    .bg-img {
        height: 70vh; /* Adjust height for tablets or medium screens */
    }
}

@media (max-width: 480px) {
    .bg-img {
        height: 60vh; /* Adjust height for smaller screens */
    }
}
